/* Christmas Red: #C0392B
Christmas Green: #32CD32
Snow White: #FFFFFF
Supporting Colors:

Gold: #FFD700
Silver: #C0C0C0 */

html, body {
  height: 100%;
  margin: 0;
  color: antiquewhite;
}

.header {
  background-color: #C0392B
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer.footer {  
  justify-content: center;
  color: black;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  width: 100%;
}