/* Christmas Red: #C0392B
Christmas Green: #32CD32
Snow White: #FFFFFF
Supporting Colors:

Gold: #FFD700
Silver: #C0C0C0 */



#root {
  display: flex;
  min-height: 100vh;
}


html, body {
  font-family: -apple-system, monospace, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  color: antiquewhite;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1; 
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1; 
  min-height: 100vh;
}

.header {
  background-color: #C0392B;
  height: fit-content;
  display: flex;  
  flex-direction: row;
}

.footer {  
  font: 1em roboto;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 1rem 0;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  width: 100%;
}

p {
  color: #000;
}

.home-title {
  color: #32CD32;
}
.archive-accordion-header-selected {
  background-color: #FFD700;
}

.archive-accordion-header-unselected {
  background-color: #C0C0C0;
}

.archive-photo-box {
  justify-content: center;
  align-content: center;
  min-width: 350px;
  min-height: 350px;
}

.archive-photo {
  justify-content: center;
  max-width:350px;
  max-height: 350px;
}




.icon-container {
   width: 100%;
   justify-content: center;
}

.fa_icon {
  color: #000; /* Black color */
  font-size: 23px; /* Adjust for medium size */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Medium viewports */
  .fa-icon {
    font-size: 25px; /* Add any additional styles specifically for medium viewports */
  }
}